_history/
*.local
*~
bin/*.exe
bin/*.ini
dcu/*.dcu
*.identcache
/resources/resources.res
/__history

*.dproj.2007
/resources.res
/ExeIcon.res
/VersionInfo.res
/examples/bin/dunit-report.xml
/examples/dunit-report.xml